<%- include('layouts/header') %> <%- include('layouts/nav') %>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/wfr.jpg"
        alt="Wildan Fathu Rijan"
        class="img-thumbnail rounded-circle"
        width="100px"
      />
      <h1 class="display-4">Wildan Fathu Rijan</h1>
      <p class="lead">Student</p>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>
